[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Comment=Web app managed by dotfiles
Exec=dotfiles open-or-focus-web-app YouTube https://youtube.com/
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=false
