[Desktop Entry]
Version=1.0
Type=Application
Name=Calendar
Comment=Web app managed by dotfiles
Exec=dotfiles open-or-focus-web-app Calendar https://nextcloud.elvisgastelum.com/index.php/apps/calendar/dayGridMonth/now
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=false
