[Desktop Entry]
Version=1.0
Type=Application
Name=Bluetui
Comment=Terminal UI app managed by dotfiles
Exec=dotfiles open-or-focus-tui bluetui
Icon=bluetooth
Terminal=false
Categories=Settings;
StartupNotify=false
